extends layout

block content
    div.form-panel
        div.header Edit Pokemon
            form(action=`/edit/${pokemon.id}` method='post')
                div.form-input
                    label(for='name') Name:
                    input(type='text' id='name' name='name' value=pokemon.name)
                div.form-input
                    label(for='type') type
                    select(id='type' name='tpe' autocomplete='off')
                        each type in types
                            option(value=type selected = (type ===pokemon.type)) #{type}
                div.form-input
                    label(for='image') Image URL:
                    input(type='text' id='image' name='image' value=pokemon.image)
                div.button-row
                    a.button.cancel(href='/') Cancel
                    a.button.delete(href=`/delete/${restaurant.id}`) Delete
                    button.button.save(type='submit') Submit