mixin restaurantCard(pokemon)

    div.card
        div.card-top
            div.card-title=pokemon.name
            div.hp=pokemon.hitpoints
            div.type=pokemon.type
        div.card-header
            div.stage=pokemon.stage
            img.card-header-image(src=pokemon.image)
        div.card-body
            div.card-details
                div.attacks
                    div.cost=pokemon.attackCost
                    div.attack-name=pokemon.attackName
                    div.attack-damage=pokemon.attackDamage
                div.extras
                    div.weakness=pokemon.weakness
                    div.resistance=pokemon.resistance
                    div.retreat=pokemon.retreat
